
body,div{margin:0; padding:0;}

* {
    font-family: "italic", Helvetica, Arial, "Heiti SC", "Microsoft YaHei";
}

/** top menu */
#topNav{
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    white-space: nowrap;
    transition: width .5s ease;

    font-size: 15px;
    color: #666;

	margin:0; padding:0;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

#topNav .logo a:hover,
#topNav .logo a{color:#0096ff;}

#topNav li{
    flex-shrink: 0;
    
    border-bottom:2px solid white;
}
#topNav li:hover{background: #eee;}

#topNav .current{
	background: #fafafa;
	border-bottom-color: #0096ff;
}

#topNav a{
	color: #666;
    text-decoration: none;

    padding: 5px 10px;
    display: inline-block;
}

#topNav a:hover{color:#666;text-decoration:underline}




main { 
    display: flex; 
    /* 使元素成为flex容器，也可用 inline-flex，区别在于一个容器在文档流里是块级元素，一个是行内元素*/
    flex-direction: row; /* 沿水平方向从左往右排列*/
    
}
main > nav     { order: 1; width: 200px; margin:10px;}
main > article { order: 2; min-width: 12em; flex:1; }
main > aside   { order: 3; width: 200px; margin:10px;}


@media screen and (max-width: 600px) { /*小屏幕：宽度小于600px时，不显示*/
  main > nav{
    display: none;
  }
}

@media screen and (max-width: 800px) { /*小屏幕：宽度小于800px时，不显示*/
  main > aside{
    display: none;
  }
}

@media screen and (min-width: 800px) { /*大屏幕：宽度大于800px时，显示*/
  main > nav, main > aside{
    display:block;
  } 
}

@media screen and (min-width: 1200px) { /*大屏幕：宽度大于1200px时*/
  main > aside   { width: 400px; }
}





main > nav ul{
    overflow: hidden;

    color: #999;
}

main > nav h3{
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;

    margin: 0;
    padding: 11px 25px;
}
main > nav li{
    float: left;
    width: 43%;
    margin-bottom: 7px;
    list-style: disc;
    margin-left: 20px;
}
main > nav li a{
    color: #777;
    text-decoration: none;
}





.content{
	margin:10px auto;

	min-height: 300px;

	border:1px solid #eee;
	border-radius: 15px;
	padding:10px;

	/*box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);*/
}
.content .path{color:#eee; margin-top:0px; border-bottom: 1px dashed #eee;}
.content blockquote{
	/*
	color:#e0e0e0;
    background: #fafafa;
	*/
	display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #f4f4f4;
    overflow: auto;
}

.content .tags a{
	display: inline-block;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
    /*color: #f4f4f4;*/
    margin: 0px 5px;
    text-decoration: none;
}
.content .tags a:hover{
    background: #000;
    color:white;
}

.smaller{font-size: smaller;}



/* Home page */
.post-preview-container{  }
.post-preview{
	width: 100%;
    height: max-content;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    max-width: 800px;
    font-size: 16px;
}

.post-preview .post-time {
    color: #ccc;
    width: 125px;
    font-weight: 300;
    line-height: 24px;
}

.post-preview .post-info {
    flex: 1;
    color:#eee;
}

.post-meta a,
.post-preview .post-info a {
  font-weight: 300;
  color: #ccc;
  text-decoration: none;
  font-size: 12px;
}

.post-preview .post-info a h3 {
    line-height: 24px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 5px;
    color: #101010;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.4s;
    font-family: Arial, "Microsoft YaHei", serif;
}





.post-title {
    width: 100%;
    text-align: center;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #101010;
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, "Microsoft YaHei", serif;
}

.post-meta{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 8px;
    font-weight: 300;
    color: #ccc;
    font-size: 12px;
    text-decoration: none;

    border-bottom: 1px solid #eee;
}



.post-archive-container{ color:#ccc; }
.post-archive-container a{ color: black; }
.post-archive-container li{ margin: 10px 0px;}









.footer{
	/*
	background:black; 
	border-top:5px solid red;
	color:white; 
	*/

	border-top: 1px solid #ddd;
	padding:30px 10px; 
	margin:0;
	margin-top:30px; 
}
.footer a{color:#aaa; text-decoration: none;}
.footer a:hover{ text-decoration: underline; }
.footer p{text-align: center; color:#ddd;}


#gotoTop{
	visibility: hidden;
	position: fixed;
	bottom:10px; right:10px;
	background: #999;
	color:white;
	padding:10px;

	border-radius: 5px;
	cursor: pointer;

	opacity: 0.8;
}


#side_contents{
    position: fixed;
    right:0;
    top:0px;
    background: white;
	border:1px solid #eee;

	overflow: scroll;

	max-height: 100%;
   width:200px;

	padding-bottom: 10px;
	opacity: 0.8;
}




/*目录的链接样式*/
/* 段落前空几格 */
.indent_1{text-indent: 0em;}
.indent_2{text-indent: 2em;}
.indent_3{text-indent: 4em;}
.indent_4{text-indent: 6em;}
.indent_5{text-indent: 8em;}
.indent_6{text-indent: 10em;}

#side_contents a{text-decoration: none;}
#side_contents a .text_menu{color:#eee;}
#side_contents a .text_menu span{color:#000/*#009a61 DB784D */; }
/*当前行*/
#side_contents a.cur .text_menu {color:#0096ff; font-weight:bold;}
#side_contents a.cur .text_menu span{color:#0096ff;}


