h1, h2{color:#eee;}
p,div{margin:0; padding:0;}
.red{color:red;}

#topNav{
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    white-space: nowrap;
    transition: width .5s ease;


    font-size: 15px;
    color: #666;
}

.content{
	width:800px;
	margin:10px auto;

	border:1px solid #eee;
	border-radius: 15px;
	padding:10px;

	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

#topNav li{
	width: 50px;
    flex-shrink: 0;
    margin-right: 5px;
}
#topNav a{
	color: #666;
    text-decoration: none;
}

#topNav a:hover{color:#666;text-decoration:underline}

