
body,div{margin:0; padding:0;}

* {
    font-family: "italic", Helvetica, Arial, "Heiti SC", "Microsoft YaHei";
}


/** top menu */
#topNav{
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    white-space: nowrap;
    transition: width .5s ease;

    font-size: 15px;
    color: #666;

	margin:0; padding:0;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

#topNav .logo a:hover,
#topNav .logo a{color:#0096ff;}

#topNav li{
    flex-shrink: 0;
    
    border-bottom:2px solid white;
}
#topNav li:hover{background: #eee;}

#topNav .current{
	background: #fafafa;
	border-bottom-color: #0096ff;
}

#topNav a{
	color: #666;
    text-decoration: none;

    padding: 5px 10px;
    display: inline-block;
}

#topNav a:hover{color:#666;text-decoration:underline}



.content{
	width:800px;
	margin:10px auto;

	min-height: 300px;

	border:1px solid #eee;
	border-radius: 15px;
	padding:10px;

	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.content .path{color:#eee; margin-top:10px; border-bottom: 1px solid #eee;}



/* Home page */
.post-preview-container{  }
.post-preview{
	width: 100%;
    height: max-content;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    max-width: 800px;
}

.post-preview .post-time {
    font-size: 17px;
    color: #999999;
    width: 125px;
    font-weight: 300;
    line-height: 24px;
}

.post-preview .post-info {
    flex: 1;
    color:#eee;
}

.post-meta a,
.post-preview .post-info a {
  font-weight: 300;
  color: #999999;
  font-size: 14px;
  text-decoration: none;
}

.post-preview .post-info a h3 {
    line-height: 24px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 5px;
    color: #101010;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.4s;
    font-family: Arial, "Microsoft YaHei", serif;
}

.post-meta a,
.post-preview .post-info .tags a{
	padding-right:10px;
}



.post-title {
    width: 100%;
    text-align: center;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #101010;
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, "Microsoft YaHei", serif;
}

.post-meta{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    color: #aaa;
    font-size: 13px;
    text-decoration: none;

    border-bottom: 2px dotted #eee;
}


.footer{
	background:black; 
	color:white; 
	padding:30px 10px; 
	margin:0;
	margin-top:30px; 
	border-top:5px solid red;
}
.footer a{color:#aaa; text-decoration: none;}
.footer a:hover{ text-decoration: underline; }
.footer p{text-align: center; color:#666;}


#gotoTop{
	visibility: hidden;
	position: fixed;
	bottom:10px; right:10px;
	background: #999;
	color:white;
	padding:10px;

	border-radius: 5px;
	cursor: pointer;
}